@import "../../../base";
.usernameHome__responsive {
  margin: 0px 100px 0px 10px;
}
.hover__eff:hover {
  transition: 0.5s all;
  text-decoration: underline !important;
}

.sidebarMenu {
  padding-bottom: 500px;
  top: 0px;
  right: -400px;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  height: 100% !important;
  background-color: #fffffffa;
  position: fixed;
  z-index: 101;
  transition: 0.5s right;
  ul.list-dropdown {
    transition: 0.5s right;
    li {
      a {
        font-size: 15px;
        color: #010101;
        font-weight: bold;
      }
      &:first-child {
        display: flex;
        align-items: center;
        a img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        span {
          margin: 0px 100px 0px 10px;
        }
      }
    }
  }
}
.sidebarMenu.active__sidebarHeader {
    transition: 0.5s right;
    right: -100px;
    top: 0px;
    z-index: 9999;
    max-height: 100%;
    overflow: hidden !important;
  }
